@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@800&display=swap');


*{
    position: relative;
}

body{
    background-color:#1E1E1E;
}

.container{
    background-color:#1E1E1E;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.container .form{
    height: 70%;
    padding: 10%;
    align-items: center;
    justify-content: space-evenly;
    
}

.container .form .title{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 38px;
    color: #4C0B75;
}

.container .form .subtitle{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

}
.container .subtitle2{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

}

.container .form .inputContainer{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}



input{
    width: 94%;
    height: 55px;
    background: #FFFFFF;
    border: 2px solid #4C0B75;
    border-radius: 8px;
    padding-left: 5%;
    margin-top:5%;
    margin-bottom: 5%;
}


.ingresar{
    all: unset;
    width: 70%;
    height: 55px;
    background: #593073;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin:auto;
    margin-top: 5%;
    display: block;

}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }

.confirmar{
    all: unset;
    width: 100%;
    height: 55px;
    background: #593073;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
    
}

.iniciarGoogle{
    all: unset;
    width: 100%;
    height: 55px;
    background: #FFFFFF;
    border: 2px solid #4C0B75;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.image{
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.asiento{
    
    background-color: #DAB6FC;
    width:60%;
    height: 4.25em;
    cursor: pointer;
    background: url('src/assets/Logo/asiento1.png');
    background-repeat: no-repeat;
    background-size: contain;



}

.asiento:hover{
    background: url('src/assets/Logo/asiento2.png');
    background-repeat: no-repeat;
    background-size: contain;
}


.mask{
    mask-image: url(src/assets/Logo/asiento.png);
    -webkit-mask-image: url(src/assets/Logo/asiento.png);
    mask-repeat: no-repeat;
    mask-size:40%;
  
    
}

.wrapper{
    box-sizing: border-box;
    padding:5%;
    background-color: #DAB6FC;
    gap: 5%;
    position: relative;
    border-radius: 8px;
    width: 70%;
    height: auto;
    margin:auto;
    margin-top: 15%;
    overflow: hidden;
    display: flex;
    
}

.hide {
    display: none;
  }

.wrapper2{
    box-sizing: border-box;
    padding:5%;
    background-color: #4C0B75;
    gap: 5%;
    position: relative;
    border-radius: 8px;
    width: 70%;
    height: auto;
    margin:auto;
    overflow: hidden;
    
}

.gridAsientos {
    position:relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.3em;

  }

.columnaAsientos {

 
    display: inline-flex;

}