@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@800&display=swap');



body{
  background-color:#1E1E1E;
  display: flex;
}

.container{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.imagenes {
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.slide{

  max-width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.slide.active{

  opacity: 1;

}