@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@800&display=swap');
.container{
    background: #F5EAFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.container .form{
    height: 70%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.container .form .title{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    color: #4C0B75;
    
    
}

.container .form .subtitle{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

}

.container .form .inputContainer{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}


input{
    width: 94%;
    height: 55px;
    background: #FFFFFF;
    border: 2px solid #4C0B75;
    border-radius: 8px;
    padding-left: 5%;
}


.ingresar{
    all: unset;
    width: 100%;
    height: 55px;
    background: #593073;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 5%;
}

.iniciarGoogle{
    all: unset;
    width: 100%;
    height: 55px;
    background: #FFFFFF;
    border: 2px solid #4C0B75;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.image{
    display: inline-block;
    margin-inline-end: 5%;
}

@media screen and (min-width:1024px){
    .container.form{
        padding: 0;
    }

}

