.actoresCard{

    margin: 0 auto;
    width: 85%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #DAB6FC;
    border-radius: 10px;   
}

.actorPhoto{
    height: 101px;
    width: 106px;
    border-radius: 20px;
}

.autorName{
    max-width: 40%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    word-wrap: break-word;
}