
.container{

    height: 100vh;
    background-color: #E2CBF8 ;
}

.moviesContainer{
    height: fit-content;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5%;
    background: #12001E;
}

.title1{
    margin-top: 5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    background-color:  #12001E;
}

.reserveContainer{
    padding: 35px;
    display: grid;
    gap: 5%;
}

.title2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #12001E;
}

