
.container{

    min-height: 100vh;
    background-color: #12001E;
    overflow: hidden;
}

.moviesContainer{
    height: fit-content;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5%;
    background: #12001E;
}

.title1{
    margin-top: 5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    background-color:  #12001E;
}

.reserveContainer{
    padding: 35px;
    display: grid;
    gap: 5%;
    background-color: #E2CBF8;
    position: relative;
}

.title2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #12001E;
}

@media screen and (min-width:767px) and (max-width:1023px){
    .moviesContainer{
        row-gap: 20px;
    }
    .title1{
        margin-top: 0;
        padding: 30px;
    }
}

@media screen and (min-width:1024px){
    .moviesContainer{
        row-gap: 20px;
    }
    .title1{
        margin-top: 0;
        padding: 30px;
    }

}