@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@800&display=swap');


.navbar {
  background-color: #440070;
  height: 5.5vh;

  }

.navdiv {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 2.5%;
  padding-right: 2.5%;
  
  

}

  li{
    display: inline-block;
    list-style: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight:bold;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin-right: 5%;
  
  }

  a{
    color: #f2f2f2;
  }

  ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
  }
  
  a:hover {
    color: #1E1E1E;
  }

  .buttonInicio{
    all:unset;
    width: 125%;
    height: 25px;
    background-color: #DAB6FC;
    border-radius: 8px;
    color: #440070;
    font-weight: bold;
    text-align: center;

  }

  .buttonInicio:hover{
    background-color: #1E1E1E;
    color: #f2f2f2;
  }

  .logo{
    height: 30px;
    padding-left: 2.5%;
  }
 
  .link{
    all: unset;
  }

.profile{
  font-size: 12px;
}