@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@800&display=swap');


.footer {

  background-color: #440070;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;

  

  }

  .column{
    padding: 20px;
    color: #f2f2f2;
    font-family: 'Montserrat';
    font-style: normal;
    text-decoration: none;
    font-size: 10px;
    text-align: justify;
    width: 40%;
  }


 

  

