.container{
    background-color: #12001E;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px
}

.nowplaying{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cartelera{
    padding: 20px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF
}

.searchContainer {
   
    margin-left: 5%;
    align-content: center;


}
.hidden{
    display: none;
}

.searchContainer form {
    width: 100%;
}
  
.searchContainer input[type=text] {

    padding: 5px;
    margin-top: 0px;
    font-size: 17px;
    border: none;
   
    
    
  }

